* {
	/* Corrigindo comportamento padrão CSS */
	box-sizing: border-box;
}

html, body {
	margin: 0;
}

body {
	display: flex;
    flex-direction: column;
	/* Cores */
	background-color: #B6FBF5;
}

header {
	/* Tornando o Header com elementos em Flex container */
	display: flex;
	height: 100px;
	width: 100%;

	/* Espaçamento */
	padding: 15px 60px;

	/* Fonte da página */
	font-family: 'Roboto', sans-serif;

	/* Cores */
	background-color: #FFF6D1;
}

header h1 {
	position: absolute;

	/* Margens */
	margin-left: 100px;
	margin-top: 30px;
}

main {
	/* Tornando o Header com elementos em Flex container */
	display: flex;
	flex-direction: column;
}

main h2 {
	/* Textos */
	text-align: center;
}

.register {
	/* Margens */
	margin: 0 auto;
	margin-top: 100px;

	/* Bordas */
	border: none;
	border-radius: 15px;

	/* Tamanho */
	width: 30%;
	height: 40px;

	/* Espaçamento */
	padding: 4px 10px;

	/* Cores */
	background-color: #85FF96;
	color: black;

	/* Fonte */
	font-size: 16px;
	font-weight: bold;

	cursor: pointer;
}

.register a {
	/* Texto */
	text-decoration: none;
	color: black;
}

.view {
	/* Margens */
	margin: 0px auto;
	margin-top: 50px;

	/* Bordas */
	border: none;
	border-radius: 15px;

	/* Tamanho */
	width: 30%;
	height: 40px;

	/* Espaçamento */
	padding: 4px 10px;

	/* Cores */
	background-color: #F8F194;
	color: black;

	/* Fonte */
	font-size: 16px;
	font-weight: bold;

	cursor: pointer;
}

.view a {
	/* Texto */
	text-decoration: none;
	color: black;
}

.back-index {
	/* Margens */
	margin: 0 auto;
	margin-top: 20px;

	/* Bordas */
	border: none;
	border-radius: 15px;

	/* Tamanho */
	width: 30%;
	height: 40px;

	/* Espaçamento */
	padding: 4px 10px;

	/* Cores */
	background-color: #85FF96;
	color: black;

	/* Fonte */
	font-size: 16px;
	font-weight: bold;

	cursor: pointer;
}

.back-index a {
	/* Texto */
	text-decoration: none;
	color: black;
}

section {
	/* Margens */
	margin: auto;
}

section table {
	/* Elementos em Flex container */
	display: flex;
	justify-content: center;

	/* Margens */
	margin-right: 100px;
}

section table input {
	/* Bordas */
	border-radius: 4px;
    border: 2px black solid;

    /* Tamanho */
	width: 150%;
	height: 40px;

	/* Margens */
	margin-left: 10px;
}

section p {
	/* Texto */
	text-align: center;
}

section input.reg {
	background-color: #61B0F6;
	font-weight: bold;

	/* Tamanho */
	width: 30%;
	height: 40px;
}

#view {
	/* Margens */
	margin: auto;

	/* Elementos em Flex container */
	display: flex;
	justify-content: center;

	/* Margens */
	margin: 10vh;

	/* Bordas */
	border: 2px solid black;
	border-collapse: collapse;
	
}

#view th {
	/* Cores */
	background-color: #8079fc;

	/* Tamanho */
	width: 200px;

	/* Texto */
	text-align: center;


}

#view td {
	/* Bordas */
	border: 1px solid black;

	/* Texto */
	text-align: center;
}

#view td.fig img {
	/* Tamanho */
	height: 25px;
	width: 25px;

	/* Espaçamento */
	padding: 5px;
}

footer {
	/* Margens */
	margin-top: 300px;

	/* Espaçamento */
	padding: 16px;

	/* Bordas */
	border: 1px black solid;
	border-left: none;
	border-right: none;
	border-bottom: none;

	/* Texto */
	text-align: center;
}
