<!doctype html>
<htm lang="pt-br">

	<head>
		<meta charset="utf-8">
		<title>{{ the_title }}</title>
		<meta name="description" content="Essa aplicação web é um teste desenvolvido para ser apresentado a empresa Connect Group para uma vaga de Dev Jr Web em Python">
		<meta name="keywords" content="My Business, CRUD, Python, Flask, Jinja2">
		<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0">
		<link rel="stylesheet" href="../static/css/style.css">	
	</head>

	<body>
		{% block body %}

			<header>

				<img class="logo" src="../static/images/buildings_icon.svg" alt="Logo do Sistema MyBusiness">
				<h1>MyBusiness - CRUD</h1>			
				
			</header>

			<main>

				<h2>{{ the_heading }}</h2>

				<button class="register" type="button"><a href="{{ url_for('register')}}">Cadastrar Empresa</a></button>

				<button class="view" type="button"><a href="#">Visualizar Empresas Cadastradas</a></button>

			</main>

			<footer>
				Copyright @ 2021 - Leonardo Oliveira de Carvalho
			</footer>
		{% endblock %}
	</body>

</html>