<!doctype html>
<htm lang="pt-br">

	<head>
		<meta charset="utf-8">
		<title>MyBusiness - Painel</title>
		<meta name="description" content="Essa aplicação web é um teste desenvolvido para ser apresentado a empresa Connect Group para uma vaga de Dev Jr Web em Python">
		<meta name="keywords" content="My Business, CRUD, Python, Flask, Jinja2">
		<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0">		
	</head>

	<body>
		<header>

		</header>

		<main>

		</main>

		<footer>

		</footer>

	</body>

</html>