{% extends 'index.html' %}

{% block body %}

	<header>

		<img class="logo" src="../static/images/buildings_icon.svg" alt="Logo do Sistema MyBusiness">
		<h1>MyBusiness - CRUD</h1>			
				
	</header>

	<main>

		<h2>{{ the_heading }}</h2>

		<section>

			<form method='POST' action="{{ url_for('registered')}}">

				<table>

					<p>Este formulário deve ser preenchido com os dados necessários para registrar a empresa.</p>

					<tr>
						<td>Razão Social</td>
						<td><input type='TEXT' name='razao_social' placeholder='Razão Social'></td>
					</tr>

					<tr>
						<td>Tipo:</td>
						<td><input type='TEXT' name='tipo' placeholder='Tipo'></td>
					</tr>

					<tr>
						<td>CNPJ:</td>
						<td><input type='TEXT' name='cnpj' placeholder='CNPJ'></td>
					</tr>

					<tr>
						<td>Estado:</td>
						<td><input type='TEXT' name='estado' placeholder='Estado'></td>
					</tr>

					<tr>
						<td>Município:</td>
						<td><input type='TEXT' name='municipio' placeholder='Município'></td>
					</tr>

					<tr>
						<td>CEP:</td>
						<td><input type='TEXT' name='cep' placeholder="CEP"></td>
					</tr>

				</table>

				<p>Clique no botão abaixo, para registrar!</p>

				<p><input class="reg" type='SUBMIT' value='Registrar'></p>

			</form>

		</section>

		<button class="back-index" type="button"><a href="{{ url_for('index')}}">Voltar para o Painel</a></button>

	</main>

	<footer>
		Copyright @ 2021 - Leonardo Oliveira de Carvalho
	</footer>

{% endblock %}