{% extends 'index.html' %}

{% block body %}

	<header>

		<img class="logo" src="../static/images/buildings_icon.svg" alt="Logo do Sistema MyBusiness">
		<h1>MyBusiness - CRUD</h1>			
				
	</header>

	<main>

		<h2>{{ the_heading }}</h2>

		<section>

			<table id="view">

				<tr>
					<th>Cadastrado em</th>
					<th>Razão Social</th>
					<!-- <th>Tipo</th> -->
					<th>CNPJ</th>
					<th>Estado</th>
					<th>Município</th>
					<th>CEP</th>
					<th>Ações</th>
				</tr>
				{% for row in empresa %}
				<tr>
					<td>{{ row[1] }}</td>				
					<td>{{ row[2] }}</td>				
					<td>{{ row[3] }}</td>			
					<td>{{ row[4] }}</td>				
					<td>{{ row[5] }}</td>				
					<td>{{ row[6] }}</td>				
					<!-- <td>{{ row[7] }}</td> -->
					<td class="fig">
						<a href="/updated/{{ row[0] }}"><img src="../static/images/lapis.svg"></a>
						<a href="/remove/{{ row[0] }}"><img src="../static/images/fechar.svg"></a>
						<a href="/register_branch/{{ row[0] }}"><img src="../static/images/share.svg"></a>
					</td>
				</tr>
				{% endfor %}

			</table>

		</section>

		<button class="back-index" type="button"><a href="{{ url_for('index')}}">Voltar para o Painel</a></button>

	</main>

	<footer>
		Copyright @ 2021 - Leonardo Oliveira de Carvalho
	</footer>

{% endblock %}